<h1 align="center">掲示板</h1><br/>

<div class="container">

	<!--Form -->
	<form action="/board/create" method="POST">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<div>
			<div>タイトル</div>
			<input name="title" type="text" class="form-control" placeholder="タイトル">
		</div>

		<div class="form-group">
			<div>コンテンツ</div>
			<textarea name="content" class="form-control" rows="3"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">登録</button>
        <a href="/board/index" class="btn btn-primary">戻る</a>
	</form>
	
</div>