<form action="/posts/create" method="post">
  <div>
    name: <input type="text" name="name" /><br />
    content: <input type="text" name="content" /><br>
  </div>
  <button type="submit">write</button>
  <button type="reset">reset</button><br />
  <a href="/posts/index">back</a>
</form>
